html {
  background-color: none;
}

body {
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  color: white;
}

h2 {
  font-size: 3em;
  font-weight: 300;
  color: black; /*rgb(128, 192, 233);*/
}

h3 {
  font-weight: 600;
  color: black;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  color: white;
}

h6 {
  font-size: .9em;
  font-weight: 400;
  color: black; /*rgb(189, 209, 222);*/
}

h2,
h6 {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: rgb(80, 150, 198);
}


.container {
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: white;
  margin: 0, auto;
}

.Box1 {
  width: 1020px;
  height: auto;
}

.datetime {
  max-width: 130px;
  height: 700px;
  display: inline-block;
  text-align: right;
  float: left;
  background-color: lightgreen;
}

.datetime ul {
  list-style: none;
}

.clock {

}

.date {

}

.vertline {
  max-width: 56px;
  height:700px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  background-color: pink;
  position: relative; /* for absolutely positioned child */
}

/* .vertline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  border: 8px;
  border-color: rgb(128, 192, 233);
  background-color: rgb(128, 192, 233);
  margin: 0 auto;
} */

.main {
  width: 100%;
}

.content {
  width: 783px;
  height: auto;
  padding: 46px 38px 60px;
  background-color: rgb(128, 192, 233);
  border-radius: 5px;
  float: right;
}
